* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f7f5f9;
  width: 1920px;
  height: 6617px;
  background-image: url(img/Illustration.png), url(img/Union.png),
    url(img/Subtract.png), url(img/gradientSub.png), url(img/rect.png);
  background-position: top left 604px, top 1428.96px left 0px,
    top 3131px left 0px, top 4429px left 0px, top 5888px left 0px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}
/* Nav */
.logo {
  margin-top: 40px;
  display: inline-block;
  margin-left: 40px;
}

.nav {
  display: inline-block;
  margin-left: 800px;
  padding: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav button {
  width: 147px;
  height: 48px;
  border-radius: 52px;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* title */

.title {
  width: 511px;
  margin-top: 285px;
  margin-left: 173px;
}
.title p {
  margin-top: 20px;
}
.title h4 {
  color: #2278d4;
  margin-bottom: 20px;
}

.title button {
  margin-top: 20px;
  width: 147px;
  height: 48px;
  border-radius: 52px;
  color: white;
  border: none;
  background-color: #22a75d;
  cursor: pointer;
}

/* box mans */

.box-man {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 777px;
  height: 930px;
  margin-top: 300px;
  border-radius: 25px;
}

.left {
  margin-left: 173px;
}

.box-man h2 {
  margin-top: 134px;
  font-size: 36px;
}
.color1 {
  color: #22a75d;
}
.color2 {
  color: #2278d4;
}

.box-man p {
  margin-left: 69px;
  font-size: 16px;
  line-height: 24px;
  width: 644px;
}

/* box title */
.box-title {
  vertical-align: top;
  width: 645px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 257px;
  color: white;
}

.box-title h2 {
  display: inline-block;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
}

/* list section */

.helicopter {
  margin-left: 1586px;
  margin-top: 350px;
}

.list-box {
  margin-top: 60px;
  display: inline-block;
  width: 332px;
}

.list-box ol {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.first {
  margin-left: 173px;
}
.second {
  height: 172px;
}

/* rocket section */

.rocket-section {
  margin-top: 500px;
  margin-left: 173px;
  width: 1800px;
}
.rocket-title {
  vertical-align: top;
  display: inline-block;
  width: 644px;
  height: 730px;
}

.rocket-title h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 20px;
}

.rocket-title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.rocket {
  vertical-align: top;
  display: inline-block;
  width: 972px;
}

/* Presale Details */

.presale-title {
  margin-top: 300px;
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  color: #f7f5f9;
}

.presale-box {
  margin-top: 80px;
  display: inline-block;
  text-align: center;
  width: 511px;
  height: 585px;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 10px;
  vertical-align: top;
}

.left-box {
  margin-left: 173px;
}

.presale-box:nth-child(2) {
  margin-top: 70px;
}

.presale-box h3 {
  margin-top: 40%;
  font-weight: 500;
  font-size: 32px;
  line-height: 54px;
}

.presale-box h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.how-to-buy {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #f7f5f9;
  margin-bottom: 30px;
}

.presale-info {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

/* contact */

footer {
  text-align: center;
  margin-top: 450px;
}

footer span {
  color: white;
  font-weight: 10;
}

footer a {
  margin: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 19.2px;
  color: white;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
